
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;

}
/* Header */
header {
    background-color: #36D178;
    width: 100%;
    height: 38rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout
{
    margin-top: auto;
    margin-bottom: auto;
    font-size:clamp(5rem,3vh,7rem);
}

.menu-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;

}

header img {
    width: 15rem;
    height: 10rem;
    bottom: 0;
    position: absolute;
    left: 42%;    
}

main{
    background: black;
    height: auto; 
    padding: 6rem 17rem;

h3{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}


}

.cart-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card {
    background-color: white;
    height: 40rem;
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card section{
    padding-left: 1rem;
    padding-top: 2rem;
}

.cardimg {
    width: 100%;
    height: 30rem;
}
.cardbtn {
    background-color: #E83F57;
    color: white;
    width: 13rem;
    height: 3rem;
    border-radius: 0.3rem;
    margin-block: 0.5rem;
    cursor: pointer;
}

.order-summary
{
    color: white;
    text-align: center;
    padding-top: 2rem;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin: 0 auto 1rem;
    border-collapse: collapse;
    font-size: large;
  }
  
  th, td {
    padding: 1rem;
    text-align: start;
  }
  th{
     background: #ED363633;
    
  }
  table tr:nth-child(2n-2) {
    border-bottom: 1px solid gray;
  }
 
  
  tfoot .total td {
    font-weight: bold;
    font-size: large;
  }

  .Gimmie {
    background-color: #E83F57;
    color:white;
    font-weight: bold;
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-block: 0.5rem;
    cursor: pointer;
    float: right;
}
  
.footer {
    background: rgb(47, 45, 45);
    display: flex;
    justify-content: space-around;
    color:white; 
    line-height: 2rem;
    padding: 2rem;
    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: white;
        }
    }
    img {
        height: 2rem;
    }
}

@content (max-width:700px)
{

}







































